/*
* Application wide variables
*/

// Colors

$black: #000000;
$white: #ffffff;

$base-color: $black;
$adjacent-color: $white;

$css3-color: #2baae1;
$css3-shade: #207aa2;
$html5-color: #ec652b;
$html5-shade: #ad4a1f;
$js-color: #f0db4e;
$js-shade: #b0a13a;

// Content

$serif: 'PT Serif', serif;
$sans-serif: 'Istok Web', sans-serif;

$base-fontSize: 16px;
$base-lineHeight: 24px;
$base-trailer: $base-lineHeight;

$base-fontFamily: $serif;
$base-fontHeading: $sans-serif;

// Layout

$base-whitespace: 10px;
$max-width: 1200px;

// Grid

$breakpoint-small: 480px;
