/*
 * Main header of application.
 */

// .module

// .sub-module

.line-top {
	$size: 6px;

	@include clearfix;

	position: fixed;
	top: 0;

	@include size(100% $size);
	margin: 0;

	background-color: $css3-color;
	border: 0;

	&:before,
	&:after {
		content: '';

		position: absolute;
		top: 0;

		@include size(33% $size);
	}

	&:before {
		left: 0;

		background-color: $html5-color;
	}

	&:after {
		right: 0;

		background-color: $js-color;
	}
}

// .is-state

// .module--modifiers
